create "DISK_STATUS_TABLE" "version"=U32_FT "size"=U32_FT "key"=U32_FT "RefreshRate"=U32_FT "ridSRCRecord"=U32_FT "NumRecoverNoDelay"=U32_FT "NumRecoverDelay"=U32_FT
insert "DISK_STATUS_TABLE" 1 20 0 1000000 0 1 1
insert "DISK_STATUS_TABLE" 1 20 0 1000000 0 2 2